<!-- <div >

     <span>EMEPLOYEE management system</span>
     <span class="space-exam"></span>
    <button color="warm" >ADD ITEMS</button>
   
</div> -->
<nav class="navbar navbar-red bg-light">
    <a class="navbar-brand" href="#">
        EMPLOYEE MANAGEMENT SYSTEM
      </a>
    <div class="hero">
                <button routerLink="/add" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">ADDITEM</button>
                <button routerLink="/edit" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">EDIT</button>
                <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Search</button>
            
    </div>
</nav>
<router-outlet></router-outlet>


