

<form  (ngSubmit)="handleSubmit($event)" [formGroup]="employeeForm">
    <fieldset class="fieldset">
    <div class="mb-3">
      <label for="id" class="form-label">ID</label>
      <input type="id" class="form-control" formControlName="id" id="id" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">USERNAME</label>
      <input type="text" class="form-control"  formControlName="username"id="username">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">NAME</label>
      <input type="text" class="form-control" formControlName="name" id="name">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">EMAIL</label>
      <input type="text" class="form-control" formControlName="email" id="email">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">GENDER</label>
      <input type="text" class="form-control" formControlName="gender" id="gender">
    </div>
    <div class="mb-3">
      <label for="phone_number" class="form-label">PHONE NUMBER</label>
      <input type="number" class="form-control" formControlName="phone_number" id="phone_number">
    </div>
    <div class="mb-3">
      <label for="designation" class="form-label">DESIGNATION</label>
      <input type="text" class="form-control" formControlName="designation" id="designation">
    </div>
    <div class="mb-3">
      <label for="complete_address" class="form-label">COMPLETE ADRESS</label>
      <input type="text" class="form-control" formControlName="complete_address" id="complete_address">
    </div>
    <div class="input-group align-center">
        <button type="submit" class="btn btn-danger" (click)="handleSubmit($event)">SUBMIT</button>
 
    </div>
</fieldset>
 </form>
  
